<form>
    <div class="mb-3">
      <label for="loginEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="loginEmail">
      <!-- <div id="emailHelp" class="form-text"></div> -->
    </div>
    <div class="mb-3">
      <label for="loginPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="loginPassword">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="LoginCheck">
      <label class="form-check-label" for="LoginCheck">Lembrar-me</label>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Logar</button>
    </div>
  </form>
