<form>
    <!-- class add  is-invalid/is-valid -->

    <div class="mb-3">
      <label for="fullName" class="form-label">Nome Completo</label>
      <input type="password" class="form-control" id="fullName">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email">
      <!-- <div id="emailAlert" class="form-text"></div> -->
    </div>
    <div class="mb-3">
        <label for="photoFile" class="form-label">Anexe uma foto</label>
        <input class="form-control" type="file" id="photoFile">
        <div id="warningPhoto" class="form-text">Tamanho máximo 5mb</div>
    </div>
    <div class="mb-3">
        <label for="videoFile" class="form-label">Anexe um vídeo</label>
        <input class="form-control" type="file" id="videoFile">
        <div id="warningVideo" class="form-text">Tamanho máximo 5mb</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="RegisterCheck">
      <label class="form-check-label" for="RegisterCheck">Lembrar-me</label>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary ">Confirmar</button>
    </div>
  </form>
