<div class="bg-dark overflow-hidden position-fixed min-vh-100 mh-100">
    <section class="col-6 describe">
        <div  class="text-light">
            <h3 class="text-center">Reality Show</h3>
            <p>
                Mauris ornare sem id nibh fermentum pulvinar. Aliquam sit amet lacus ultricies, ornare nisi eu, suscipit quam. 
                Cras facilisis consequat rhoncus. Praesent viverra enim at sapien euismod, eget egestas felis fringilla. 
                onec posuere consequat rhoncus. Cras iaculis mi sapien, a vestibulum ligula porta et. Phasellus ultricies posuere aliquet.
                Maecenas placerat rutrum ipsum tempor varius. Vivamus a libero sit amet lacus malesuada gravida.
            </p>
        </div>
    </section>
    <section>
        <div id="circle"></div>
    </section>
</div>