<header class="text-center">
    <h1 class="display-6">INSCRIÇÕES</h1>
</header>
<table class="table container-xl">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td class="col-3">
            <img src="" class="img-thumbnail" style="width: 100px; height: 100px">
        </td>
        <td>Otto</td>
        <td>@mdo</td>
        <td class="col-1">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckDefault"> Aceitar </label>     
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
            <img src="" class="img-thumbnail" style="width: 100px; height: 100px">
        </td>
        <td>Mark</td>
        <td>@dce</td>
        <td class="col-1">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckDefault"> Aceitar </label>     
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
            <img src="" class="img-thumbnail" style="width: 100px; height: 100px">
        </td>
        <td>Mary</td>
        <td>@lcd</td>
        <td class="col-1">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckDefault"> Aceitar </label>     
        </td>
      </tr>
    </tbody>
  </table>

  <footer class="text-center">
    <button class="btn btn-primary" (click)="confirmSubscribe()">Confirmar inscrições</button>
  </footer>
